/* IMPORT CSS FROM GITHUB */
@import url("https://rawgit.com/0mniscient/Discord-Themes/master/css/Quiet.css");

:root { 
	--theme-name: "Reborn";
	/*--version-content: "1.0";*/
 }


.theme-dark .container-RYiLUQ, 
.theme-dark .layer,
.theme-dark .layers,
.theme-dark .content,
.theme-dark .messages-wrapper .message-group,
.theme-dark #friends,
.theme-dark .popout.popout-bottom:not(.no-arrow)[style*="z-index: 1000; overflow: hidden; visibility: visible;"]{
    background:transparent !important;
}

.theme-dark .channels-wrap,
.theme-dark .title-wrap,
.theme-dark .channel-members,
.theme-dark .content .flex-spacer,
.theme-dark .friends-table,
.theme-dark .friends-header{background: rgba(0,0,0,0.64) !important;}

.theme-dark .chat form{background: rgba(0, 0, 0, 0.4);border-left: 0px solid transparent !important;border-right: 0px solid transparent !important;}

.theme-dark .inner-3if5cm{background-color: rgba(0, 0, 0, 0.58);}

.theme-dark .guilds-wrapper{background: rgba(0, 0, 0, 0.7) !important;height: calc(100% - 70px);}

.guilds-wrapper .guilds .guild:first-of-type .guild-inner, .app .guilds .guild:first-child, .guilds-wrapper .guilds .guild:hover:first-of-type .guild-inner,.guilds-wrapper .guilds .guild.active:first-of-type .guild-inner{background: transparent !important;}

.guilds .guild:hover:first-child{background-color: rgba(0, 0, 0, 0.4) !important;}

.guilds .friends-icon:hover{background-color: transparent !important;}

.theme-dark .guilds-wrapper::after{content: "";width: 76px;height: 74px;bottom: 0px;margin-bottom: -204px;}

.theme-dark .guilds-wrapper::before{content: "";background: rgba(0, 0, 0, 0.64);width: 76px;height: 74px;bottom: 0px;position: fixed;}

.theme-dark .private-channels .search-bar-inner{background: rgba(0, 0, 0, 0.4) !important;}

.theme-dark .private-channels .search-bar input{background: transparent !important;}

.theme-dark #friends .friends-table .friends-table-body::after{content: "";background: rgba(0, 0, 0, 0.4);}

.theme-dark .container-iksrDt{height: 71px;background: rgba(0, 0, 0, 0.4);border-right: 0px solid transparent !important;width: calc(100% - -58px);}

.theme-dark .channel-members::after{background: rgba(0, 0, 0, 0.78);left: 0px;}

.theme-dark .chat>.content .messages .message-group .markup, .theme-dark .chat>.title-wrap>.topic{color: #dad9d9 !important;font-weight: 500;}

.theme-dark .friends-table .messages .message-group h2 strong, .theme-dark .messages-wrapper .messages .message-group h2 strong{font-weight: 500;}

.scroller-wrap .scroller.messages:hover::-webkit-scrollbar-track-piece{border: 3px solid transparent !important;background-color: rgba(17, 17, 19, 0.43) !important;}

[class*="nameDefaultText-"], [class*="nameDefaultVoice-"], [class*="nameLockedText-"], [class*="nameLockedVoice-"]{color: rgba(255, 255, 255, 0.55);}

.foreground-2zy1hc{opacity: 1;color: #fff;}

.theme-dark .contentSelectedText-3j5CXt, 
.theme-dark .contentSelectedVoice-gTtYM9,
.theme-dark .contentHoveredText-2HYGIY, 
.theme-dark .contentHoveredVoice-3qGNKh:active,
.theme-dark .contentSelectedVoice-gTtYM9:active, 
.theme-dark .userHovered-3tfm93:active,
.theme-dark .channel-members .member.popout-open, 
.theme-dark .channel-members .member:hover{background-color: rgba(18, 18, 19, 0.69) !important;}

.theme-dark .channel-members .member.popout-open, 
.theme-dark .channel-members .member:hover{background: rgba(18, 18, 19, 0.69) !important;}

.chat .divider > span{color: #f5f5f5 !important;}

span.spinner{margin-top: 2px;}

[class*="nameDefault-"]{color: #ffffff;}

.theme-dark .search .search-bar{background-color: rgba(25, 25, 27, 0.58);border: 2px solid rgba(18, 18, 19, 0.4) !important;border-bottom: 2px solid rgba(18, 18, 19, 0.4) !important;}

.chat .empty-message h1{color: #f1f1f1;}

.unread-mentions-indicator-bottom{bottom: 10px !important;}

.message-group .mentioned .message-text{background:rgba(0, 0, 0, 0.45) !important;}

.theme-dark .ui-standard-sidebar-view .sidebar-region, .theme-dark .ui-standard-sidebar-view .sidebar-region .scrollbar, .theme-dark .ui-standard-sidebar-view .content-region, .theme-dark .ui-standard-sidebar-view .content-region .scrollbar{background:rgba(0, 0, 0, 0.75) !important;}

.theme-dark .header-1-f9X5, .theme-dark .faded-1KRDbu{color:#ffffff;}

.theme-dark .description-3MVziF, .theme-dark .labelDescriptor-1BebCl{color:#9a9a9a;}

.theme-dark [class*="cardPrimaryEditable"], .theme-dark [class*="cardPrimary"], .theme-dark [class*="cardPrimaryOutline"], .theme-dark [class*="headerClickable"], .theme-dark [class*="headerDefault"], .theme-dark [class*="headerExpanded"] {background: rgba(0, 0, 0, 0.6) !important;border-color: rgba(32, 34, 37, 0) !important;box-shadow: 0px 0px 3px 1px #121212;}

.theme-dark .preview-inner .message-group{background-color:transparent;}

.user-settings-streamer-mode{background:transparent;}

.userPopout-4pfA0d{opacity:1;}

.userPopout-4pfA0d .body-3rkFrF, .userPopout-4pfA0d .footer-2J5zqP{background-color:rgba(0, 0, 0, 0.6);}

.status-picker.popout-menu{background:rgba(0, 0, 0, 0.4) !important;}

.chat .welcome-message p{color:#dadada;}

.theme-dark .message-group .comment .markup .mention{background:rgba(0, 0, 0, 0.6) !important;}

.theme-dark .message-group .embed{background-color: rgba(0, 0, 0, 0.66) !important;border-color: rgba(0, 0, 0, 0.66) !important;}

.theme-dark .reaction {background: rgba(0,0,0,0.4) !important;}

.chat .divider.divider-red > span{background-color: rgba(0, 0, 0, 0.5) !important;}

.private-channels .channel.selected a, .private-channels .channel:hover a{background-color: rgba(0, 0, 0, 0.65) !important;}

[class*="nameMutedText-"], [class*="nameMutedVoice-"]{color: #9f9f9f;}

.nameUnreadText-1pxldj, .nameUnreadVoice-QK4gxH{color: #f1f1f1;}
