//META{"name":"Discord_Reborn_Pout_new","description":"A nice sleek transparent theme.","author":"Omniscient","version":"0.0"}*//

/* IMPORT CSS FROM GITHUB */
@import url("https://rawgit.com/0mniscient/Discord-Themes/master/css/quiet.css");
/*
/* User Settings */
:root {
	--theme-name: "Discord Reborn";
}
/* Dark Mode Settings */

.app.theme-dark, .theme-dark, .theme-dark .theme-light, .theme-dark.popouts, .theme-light.popouts+.tooltips, .tooltips+.theme-dark {
  --primary-color: rgba(0,0,0,0.75);
  /* primary background color */
  --secondary-color: rgba(0,0,0,0.6);
  /* secondary background color */
  --tertiary-color: rgba(0,0,0,0.4);
  /* tertiary background color */
  --quaternary-color: rgba(0,0,0,0.7);
  /* quaternary background color */
  --rs-spacing: 2px;
  /* spacing between avatar and status */
  --rs-width: 2px;
  /* width of the status */
  --rs-popout-spacing: 3px;
  /* spacing between avatar and status for user popouts */
  --rs-popout-width: 4px;
  /* width of the status for user popouts */
  --rs-profile-spacing: 3px;
  /* spacing between avatar and status on modals/profiles */
  --rs-profile-width: 4px;
  /* width of the status on modals/profiles */
  --rs-online-color: #43b581;
  /* color for online status */
  --rs-idle-color: #faa61a;
  /* color for idle status */
  --rs-dnd-color: #f04747;
  /* color for dnd status */
  --rs-offline-color: #636b75;
  /* color for offline status */
  --rs-invisible-color: #747f8d;
  /* color for invisible status - Note this will only show for your own invisibility */
  --rs-streaming-color: #643da7;
  /* color for streaming status */
}

/* Light Mode Settings */

.app.theme-light, .theme-light, .theme-light .theme-light, .theme-light.popouts, .theme-light.popouts+.tooltips, .tooltips+.theme-light {
  --primary-color: rgba(0,0,0,0.55);
  /* primary background color */
  --secondary-color: rgba(0,0,0,0.4);
  /* secondary background color */
  --tertiary-color: rgba(0,0,0,0.2);
  /* tertiary background color */
  --quaternary-color: rgba(0,0,0,0.5);
  /* quaternary background color */
  --rs-spacing: 2px;
  /* spacing between avatar and status */
  --rs-width: 2px;
  /* width of the status */
  --rs-popout-spacing: 3px;
  /* spacing between avatar and status for user popouts */
  --rs-popout-width: 4px;
  /* width of the status for user popouts */
  --rs-profile-spacing: 3px;
  /* spacing between avatar and status on modals/profiles */
  --rs-profile-width: 4px;
  /* width of the status on modals/profiles */
  --rs-online-color: #43b581;
  /* color for online status */
  --rs-idle-color: #faa61a;
  /* color for idle status */
  --rs-dnd-color: #f04747;
  /* color for dnd status */
  --rs-offline-color: #636b75;
  /* color for offline status */
  --rs-invisible-color: #747f8d;
  /* color for invisible status - Note this will only show for your own invisibility */
  --rs-streaming-color: #643da7;
  /* color for streaming status */
}


.theme-dark .chat form {
    -webkit-box-shadow: 0 -1px 0 hsla(0,0%,100%,.06);
    background-color: rgba(0,0,0,0.4) !important;
}

.guilds-wrapper {
    background-color: rgba(0,0,0,0.8) !important;
}

.callout-backdrop, .appMount-14L89u {
  background-size: cover !important;
  background-position: center !important;
}
.callout-backdrop, .appMount-14L89u {
  background-image: url("https://imgur.com/RG03PyX.png") !important;
}

.chat, .container-RYiLUQ, .container-2OU7Cz, .theme-dark .ui-standard-sidebar-view .content-region, .ui-standard-sidebar-view .sidebar-region .sidebar, .ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller, .layer, .layers, .content, .layer-kosS71, .layers-20RVFW, .messages-wrapper .message-group, .wrapper-VSYYTS, .clipboardInputInner-oj8y-S, #friends, .activity-3NviKQ, .body-_3kd4C, .newsLink-SC025S:hover, .newsLink-SC025S, .news-XQhS0 .theme-dark .popout.popout-bottom:not(.no-arrow)[style*="z-index: 1000; overflow: hidden; visibility: visible;"] {
  background: transparent !important;
  background-color: transparent !important;
}

.guilds-wrapper .guilds>div.guild:first-child .guild-inner, .chat>.content, .container-iksrDt {
  background-color: transparent !important;
}

.messages-wrapper {
  background-color: var(--primary-color);
}

.theme-dark .ui-standard-sidebar-view .sidebar-region, .theme-dark .ui-standard-sidebar-view {
  background: var(--quaternary-color) !important;
}

.menu-3BZuDT.alt-2vq4VR, .listeningAlong-13-Udx {
    background: var(--primary-color) !important;
}

.private-channels .search-bar .search-bar-inner {
  background: transparent;
}

.search .search-bar, .search .search-bar-icon {
  background-color: transparent !important;
}

.channel-members-wrap, .guilds-wrapper, .channels-wrap .flexChild-1KGW5q, .container-iksrDt, .container-3lnMWU, #friends .friends-header, .chat .title-wrap, .popout.popout-bottom-right.no-arrow.no-shadow, .chat form .channel-text-area-default, .search-results-wrap, .embed-2diOCQ, .emojiPicker-3g68GS, .channels-3g2vYe .scrollerWrap-2uBjct, .channels-3g2vYe .flexChild-1KGW5q, .wrapper-uAa07y, .cardPrimary-ZVL9Jr, .cardPrimaryEditable-2IQ7-V, .authedApp-2JX_oI, .modal-3HOjGZ .message-25xg43, .theme-dark .autocomplete-1TnWNR, .menu-3BZuDT {
  box-shadow: 0 0px 0px rgba(0,0,0,0) !important;
}

.chat .flex-lFgbSz.flex-3B1Tl4.horizontal-2BEEBe.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.justifyStart-2yIZo0.alignStretch-1hwxMa.noWrap-v6g9vO,
.chat .flex-lFgbSz.flex-3B1Tl4.horizontal-2BEEBe.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.justifyStart-2yIZo0.alignStretch-1hwxMa.noWrap-v6g9vO:hover {
  background-color: transparent !important;
  transition: background-color .2s linear;
}

.friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
  background-color: transparent !important;
  border-color: transparent !important;
}

.friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
  background-color: transparent !important;
  border-color: transparent !important;
}

.theme-dark .member-2FrNV0:hover .content-3JzEqq {
  background-color: rgba(0,0,0,0.4);
  color: #fff;
}

.channels-3g2vYe .scroller-fzNley>[class*=container-]>[class*=container]:first-of-type>[class*=wrapper] {
  margin-left: 0px;
  height: 31.11px;
  padding: 0 8px;
  border-radius: 0px;
  background-color: transparent !important;
}

.contentSelectedText-3j5CXt {
  background-color: rgba(0,0,0,0.4);
  border-left: 0px;
}

.contentHoveredText-2HYGIY, .contentHoveredVoice-3qGNKh:active, .contentSelectedVoice-gTtYM9:active {
  background-color: rgba(0,0,0,0.4);
  border-left: 0px;
}

.citar-btn {
  background-color: var(--rs-transparency);
}

/* Better Formatting Redux Re-Skin */

form .bf-toolbar{transform: translate(-3px,-45px) !important;}
.bf-toolbar .bf-arrow{right:1px !important;top:16px !important;background-color:var(--rs-transparency) !important;opacity:.5 !important;border-left:0px !important;border-right:0px !important;border-top:0px !important;z-index:1 !important;}
.bf-toolbar.bf-visible .bf-arrow, .bf-toolbar.bf-hover:hover .bf-arrow{-webkit-transform:translate(12.5px,-3.5px)rotate(-90deg) !important;-ms-transform:translate(13px,-5px)rotate(-90deg) !important;background-color:var(--rs-transparency)!important;transform:translate(13px,-5px)rotate(-90deg !important);width:46px !important;height:23px !important;opacity:.5 !important;border-top:0px solid #212121 !important;border-right:0px solid #212121 !important;border-bottom:0px solid #212121 !important;border-left:0px solid #19191b!important;z-index:0 !important;}
.bf-toolbar:before{content:"";width:93% !important;background:var(--rs-transparency) !important;box-shadow:0px 0px 0px 0px var(--rs-transparency) !important;border:0px solid var(--rs-transparency) !important;border-right:0px solid var(--rs-transparency) !important;left:6px !important;border-radius: 0px;height:40px;}
.bf-toolbar div:not(.bf-arrow):hover{background: var(--rs-transparency) !important;color:#fff !important;}
.bd-detached-css-editor #bd-customcss-attach-controls button:active,.ui-standard-sidebar-view #bd-customcss-attach-controls button:active,.ui-standard-sidebar-view #editor-detached button:active{background:var(--hover-color) !important;}
.bf-toolbar div:not(.bf-arrow){margin-top:-2px;}
.bf-toolbar.bf-visible div:not(.bf-arrow), .bf-toolbar.bf-hover:hover div:not(.bf-arrow){z-index:2;}
.bf-toolbar.bf-visible:before, .bf-toolbar.bf-hover:hover:before{-webkit-transform:translate(0,-4px)!important;-ms-transform:translate(0,-4px)!important;transform:translate(0,-4px) !important;z-index:1;}
.upload-modal .bf-toolbar {background: var(--rs-transparency) !important;}
.theme-dark .upload-modal .inner-3if5cm {background-color: var(--tertiary-color) !important;}
.bf-toolbar.bf-visible div:not(.bf-arrow), .bf-toolbar.bf-hover:hover div:not(.bf-arrow){z-index:2;}
.bf-toolbar.bf-visible:before, .bf-toolbar.bf-hover:hover:before{-webkit-transform:translate(0,-4px)!important;-ms-transform:translate(0,-4px)!important;transform:translate(0,-4px) !important;z-index:1;}
.upload-modal .bf-toolbar {background: var(--rs-transparency) !important;}
.theme-dark .upload-modal .inner-3if5cm {background-color: var(--tertiary-color) !important;}

.theme-dark .cardPrimary-ZVL9Jr {
  background: var(--quaternary-color) !important;
}

.theme-dark .card-11ynQk:before {
  background-color: rgba(0,0,0,0.4);
  border-color: rgba(0,0,0,0.8);
}

.theme-dark #friends .friends-table .friends-row:hover {
  background: rgba(0,0,0,0.4);
}

.friends-table{
  margin-top: 0 !important;
}

.guilds-wrapper .guild.guilds-add::after {
  background: rgba(0,0,0,0.4);
}

[class*="barFill-"] {
    background: transparent !important; 
}

.header-1tSljs {
    box-shadow: 0px 0px transparent;
    border-bottom: 0px solid transparent !important;
}

.headerBar-cxbhPD {
  box-shadow: 0px 0px transparent !important;
  background: var(--primary-color) !important;
  border-bottom: 0px solid transparent !important;
  height: 46px !important;
}

.theme-dark .themed-popout {
  background-color: 0px solid transparent !important;
  border-left: 0px solid var(--main-color) !important;
  border-right: 0px solid var(--main-color) !important;
  border-bottom: 0px solid var(--main-color) !important;
  border-top: 0px solid transparent;
}

.guilds-wrapper .guilds>div.guild:first-child {
    margin-top: -48px;
    width: 70px;
    margin-left: -10px;
    border-bottom: 0px solid transparent !important;
    position: fixed;
    z-index: 2;
}

.private-channels .search-bar {
    border-bottom: 0px solid transparent !important;
}

.messages-popout-wrap .messages-popout .message-group:hover {
  background-color: var(--quaternary-color) !important;
  border-color: transparent !important;
}

.messages-popout-wrap .messages-popout .message-group .action-buttons .jump-button {
  background-color: transparent !important;
  color: #fff !important;
  padding: 2px 7px 3px 7px;
}

.private-channels .channel.selected a {
  background-color: var(--quaternary-color);
  border-left: 0px solid transparent !important;
}

.private-channels .channel.selected:hover a {
  border-left: 0px solid transparent !important;
}

.header-1tSljs {
  box-shadow: 0px 0px transparent;
  border-bottom: 0px solid transparent !important;
}

.contentSelectedText-3j5CXt {
  background-color: var(--quaternary-color);
  border-left: 0px solid transparent;
}

.themeDefault-3M0dJU.valueChecked-3Bzkbm {
    background-color: rgba(0,0,0,0.5) !important;
}

.themeDefault-3M0dJU {
    background-color: rgba(0,0,0,0.2) !important;
}

.theme-dark .user-settings-games .now-playing, .theme-light .user-settings-games .now-playing {
    background-color: rgba(0,0,0,0.4) !important;
}

.headerPlaying-2Q7mBy {
    background: rgba(0,0,0,0.8) !important;
}

.theme-dark .note-2AtC_s textarea:focus {
    background-color: rgba(0,0,0,0.9) !important;
}

.private-channels .channel:hover a, .private-channels .channel.selected a {
    background-color: rgba(0,0,0,0.4) !important;
}

.create-guild-container.deprecated, .create-guild-container.deprecated .action {
    -webkit-box-sizing: border-box;
    background-color: transparent !important;
}

.form-deprecated .btn-primary:hover, .form.deprecated .btn-primary:hover {
    background: #677bc4 !important;
}
.create-guild-container.deprecated .create-or-join .actions .or {
    display: none;
}

.form-deprecated header, .form.deprecated header {
    color: #fff;
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: rgba(0,0,0,0.4) !important;
    border-color: transparent;
}
