@import url(https://fonts.googleapis.com/css?family=Satisfy);

/* User Settings */
:root {
	--main-color: #3e82e6;
	--hover-color: #2b5eaa;
}

/* Dark Mode Settings */
.theme-dark, .theme-dark .theme-light {
	--primary-color: #19191b;
	--secondary-color: #1E1E21;
	--secondary-color-hover: #232327;
	--tertiary-color: #101011;
}

/* Light Mode Settings */
.theme-light {
	--primary-color: #fff;
}

/* Title Bar Area*/

.title-qAcLxz {
	background: var(--primary-color) !important;
	box-shadow: 0px 0px transparent !important;
	border-bottom: 2px solid var(--main-color);
}
.title-qAcLxz, .titleCall-3X0yGQ {
    height: 46px;
}
.search .search-bar {
    background-color: var(--tertiary-color) !important;
    height: 45px;
    width: 170px;
    border-radius: 0px;
}
.search .DraftEditor-root {
    line-height: 39px;
}
.search .DraftEditor-root .public-DraftEditorPlaceholder-root {
    color: #cecece !important;
    padding-left: 17px;
}
.search .search-bar .icon {
    top: 13px;
    right: 9px;
}
.search .search-bar-icon {
    width: 35px;
    background-color: var(--secondary-color);
}
.divider-1GKkV3 {
	display: none;
}
/* Pinned Messages */

.theme-dark .themed-popout {
    background-color: var(--primary-color) !important;
    border-left: 2px solid var(--main-color);
	border-right: 2px solid var(--main-color);
	border-bottom: 2px solid var(--main-color);
	border-top: 0px solid transparent;
}
.popout .themed-popout .header {
	border-radius: 0px;
	background-color: var(--tertiary-color) !important;
}
.messages-popout-wrap .messages-popout .message-group {
    background-color: var(--tertiary-color) !important;
    border-color: var(--tertiary-color) !important;
}
.messages-popout-wrap .messages-popout .message-group:hover {
    background-color: var(--tertiary-color) !important;
    border-color: var(--main-color) !important;
}
.messages-popout-wrap .messages-popout .message-group:hover .action-buttons {
    background-color: transparent !important;
    box-shadow: 0 0 0px 0px transparent !important;
}
.messages-popout-wrap .messages-popout .message-group .action-buttons .jump-button {
    background-color: var(--main-color) !important;
    color: #fff !important;
    padding: 2px 7px 3px 7px;
}
.themed-popout .header .subtitle, .themed-popout .text {
    color: #fff !important;
}

/* Channel List Area */

.container-RYiLUQ {
	background: var(--primary-color) !important;
}
.channels-3g2vYe .scrollerWrap-2uBjct {
    z-index: 1;
}
.header-1tSljs {
	box-shadow: 0px 0px transparent;
	border-bottom: 2px solid var(--main-color);
}
.content-2mSKOj {
    border-radius: 0px;
    margin: 1px 0 1px 0px;
}
.contentSelectedText-3j5CXt {
    background-color: var(--tertiary-color);
	border-left: 2px solid var(--main-color);
}
.contentHoveredText-2HYGIY, .contentHoveredVoice-3qGNKh:active, .contentSelectedVoice-gTtYM9:active {
    background-color: var(--secondary-color);
	border-left: 2px solid var(--hover-color);
	opacity: 80%;
}
.unread-23Kvxk {
	background-color: var(--hover-color);
	transition: .1s all linear;
}
.wrapperHoveredText-1PA_Uk .unread-23Kvxk {
    height: 32px;
    left: 0px;
    border-radius: 0px;
    width: 2px;
    margin-top: 0px;
    top: 1px;
}
.wrapperHoveredText-1PA_Uk .unread-23Kvxk ~ .contentHoveredText-2HYGIY {
	border-left: 2px solid transparent !important;
}

/* Guilds Area */

.guilds-wrapper {
	background-color: var(--tertiary-color);
}
.guilds-wrapper .guilds>div.guild:first-child {
    margin-top: -14px;
    width: 70px;
    margin-left: -10px;
	border-bottom: 2px solid var(--main-color);
}
.guilds-wrapper .guilds>div.guild:first-child .guild-inner {
	background-color: var(--tertiary-color) !important;
	border-radius: 0px !important;
}
.guilds-wrapper .guilds>div.guild:first-child .guild-inner a, .guilds-wrapper .guilds>div.guild:first-child .friends-icon {
    width: 70px;
}
.friends-icon {
    background-image: url(https://cdn.rawgit.com/0mniscient/Discord-Themes/59c36317/Themes/chatIcon.svg)!important;
}

/* Account Area */

.container-iksrDt {
    background: var(--secondary-color) !important;
	height: 53px !important;
}
.button-1aU9q1 {
	height: 53px;
	width: 35px;
    border-radius: 0px;
}
.button-1aU9q1:hover {
    background-color: var(--secondary-color-hover) !important;
}
.accountDetails-15i-_e .username {
    font-family: Satisfy;
    color: var(--main-color);
	font-size: 15px;
	height: 18px;
    line-height: 18px;
}

/* Members List Area */

.channel-members {
    background-color: var(--primary-color) !important;
}
.channel-members .member .member-username{
	font-size:15px;
}

.channel-members .member .member-game{
	font-size:10px;
}

.channel-members .avatar-small .status{
	border-color:rgba(0, 0, 0, 0.7) !important;
}

.channel-members h2{
	color:var(--main-color) !important;
	background-image:linear-gradient(90deg, transparent, transparent), linear-gradient(90deg, transparent, var(--main-color), transparent);
	background-size:100% 3px;/* This get flipped. */
	background-position:0 0, 0 100%;/* The last argument gets flipped. */
	background-repeat:no-repeat;
	padding-top: 19px;
	padding-bottom: 6px;
	margin-top: 4px;
	font-weight: 600;
	text-align:center;
	border-radius:3px;
	width:145px;
	margin-left:15px;}

.channel-members h2:first-of-type{
	margin-top:0px !important;
}

/* Main Chat Area */

.chat>.content, .messages-wrapper {
    background-color: var(--primary-color) !important;
}
.message-group:not(.has-divider) {
    border-color: transparent !important;
}
/* Main Chat Form */

.chat form {
	background-color: var(--secondary-color) !important;
	box-shadow: 0px 0px transparent !important;
	margin: 0 0;
}
.chat .attachButtonDivider-3tknGJ {
	display: none;
}
.chat .attachButton-Di6YUh {
    margin: 15px 10px;
}
.chat .attachButtonPlus-2l1NEU {
    opacity: .55;
    height: 22px;
    margin: 16px 10px;
}
.chat .attachButton-Di6YUh:hover {
    transform: scale(1) !important;
}
.chat .flex-lFgbSz.flex-3B1Tl4.horizontal-2BEEBe.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.justifyStart-2yIZo0.alignStretch-1hwxMa.noWrap-v6g9vO {
	background-color: var(--secondary-color) !important;
	transition: background-color .2s linear;
}
.chat .flex-lFgbSz.flex-3B1Tl4.horizontal-2BEEBe.horizontal-2VE-Fw.flex-3B1Tl4.directionRow-yNbSvJ.justifyStart-2yIZo0.alignStretch-1hwxMa.noWrap-v6g9vO:hover {
	background-color: var(--secondary-color-hover) !important;
}
.chat .textArea-20yzAH {
	background-color: transparent !important;
	line-height: 30px;
}
.chat .inner-3if5cm {
	background-color: var(--secondary-color) !important;
}
.chat .innerNoAutocomplete-kaUXJZ {
    border-radius: 0px;
}
.chat .channelTextArea-os01xC {
    margin: 0px 0 0px;
}
.chat .textAreaEnabled-2vOfh8 {
    padding: 10px 38px 10px 10px;
}
.chat .emojiButton-38mF6t {
    top: 15px;
}

/* Chat Dividers */

.chat .divider {
    height: 28px;
    background-color: transparent;
}
.friends-table .messages .divider:not(.red) span, .messages-wrapper .messages .divider:not(.red) span {
    opacity: 1;
}
.chat .divider > span {
    color: #a0a0a0 !important;
    border-radius: 3px;
    position: relative;
    text-align: left;
    left: -14px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0px 0px;
    opacity: 1;
    padding: 5px 15px;
    width: 100%;
	background: transparent !important;
}

.chat .divider.divider-red > span {
    color: var(--main-color) !important;
    background-color: var(--tertiary-color) !important;
    border-radius: 3px;
    text-align: center;
    left: 0px;
}

.chat .divider:before {
	display: none;
}

/* Channel Search Pop out */

.search-popout {
	background-color: var(--primary-color) !important;
}
.search-popout .option {
    border-left: 2px solid transparent;
    border-radius: 0px;
}
.search-popout .option:after {
	display: none;
}
.search-popout .option.selected {
    background-color: var(--secondary-color) !important;
	border-left: 2px solid var(--hover-color) !important;
}
.search-popout .option.selected:active {
    background-color: var(--tertiary-color) !important;
	border-left: 2px solid var(--main-color) !important;
}
.search-popout .search-option .filter, .search-popout .option .filter {
    color: var(--main-color);
	font-weight: 500;
}
.theme-light.search-popout {
    margin-top: -14px !important;
    border-radius: 0px !important;
    border-left: 2px solid var(--main-color) !important;
    border-right: 2px solid var(--main-color) !important;
    border-bottom: 2px solid var(--main-color) !important;
    border-top: 0px solid transparent !important;
}
.searchAnswer-yD90ey, .searchFilter-1fJ0cd {
    background-color: var(--secondary-color) !important;
}
.search-popout .option .answer, .search-popout .option .non-text {
    color: #caccce;
    font-weight: 400;
}
.search-popout .results-group:before {
	display: none;
}
.search-popout .results-group .header {
    padding: 10px 20px 10px;
    background-color: var(--tertiary-color) !important;
}
.search-popout .results-group .search-clear-history, .search-popout .results-group .search-learn-more {
    top: 17px;
    filter: grayscale();
}
.searchFilter-1fJ0cd {
    border-radius: 3px;
    padding: 0px 8px 1px 6px;
}
.searchAnswer-yD90ey, .searchFilter-1fJ0cd {
    height: 30px;
    line-height: 30px;
	background-color: var(--secondary-color) !important;
}
.search-popout .option.search-query.selected {
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent !important;
}
.search-popout .option.search-query {
	color: #caccce !important;
    font-size: 16px !important;
    height: auto !important;
    line-height: 20px !important;
    margin: 0 !important;
    padding: 20px !important;
	border-left: 0px solid transparent !important;
}
.search-popout .option.user .displayed-nick, .search-popout .search-query .search-for strong {
    color: var(--main-color);
}
.searchAnswer-yD90ey {
    padding: 0px 6px 1px 0px;
}

/* Search Results */

.search-results-wrap .search-header {
    background-color: var(--tertiary-color) !important;
}
.search-results-wrap {
    background-color: var(--primary-color) !important;
}
.search-results-wrap .search-result:before {
    background-image: linear-gradient(0deg,rgba(47,49,54,0),var(--primary-color)) !important;
}
.search-results-wrap .search-result:after {
    background-image: linear-gradient(180deg,rgba(47,49,54,0),var(--primary-color)) !important;
}
.search-results-wrap .search-result .search-result-message.hit {
    border: 2px solid var(--tertiary-color) !important;
}
.search-results-wrap .search-result .hit {
    background-color: var(--tertiary-color) !important;
    box-shadow: 0 0 10px 6px var(--primary-color) !important;
}
.search-results-wrap .search-result .hit:hover {
    border: 2px solid var(--main-color) !important;
}
.search-results-wrap .channel-separator:before {
	display: none;
}
.search-results-wrap .channel-separator .channel-name {
    background-color: var(--main-color) !important;
    color: #fff;
    margin-left: -10px;
	padding: 8px 8px 8px 6px; 
}
.search-results-wrap .action-buttons .jump-button {
    background-color: var(--main-color) !important;
    color: #fff;
    padding: 1px 7px 3px 6px;
}

/* Unread Pop outs */

.container-2SvV0F {
    z-index: 2;
}

/* Scrollbars */

.friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: var(--tertiary-color) !important;
    border-color: var(--primary-color) !important;
}
.friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: var(--main-color) !important;
    border-color: var(--primary-color) !important;
}
.scroller-fzNley::-webkit-scrollbar-thumb, .scroller-fzNley::-webkit-scrollbar-track, .scrollerThemed-19vinI.themeGhostHairline-2H8SiW .scroller-fzNley::-webkit-scrollbar-thumb, .scrollerThemed-19vinI.themeGhostHairlineChannels-2lQojW .scroller-fzNley::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    border-radius: 0px;
}
.scroller-wrap .scroller::-webkit-scrollbar {
    width: 11px;
}
.scroller-fzNley::-webkit-scrollbar {
    width: 12px;
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	visibility: hidden !important;
	transition: .2s visibility linear;
}
.scroller-wrap .scroller:hover::-webkit-scrollbar-thumb, .scroller-wrap .scroller:hover::-webkit-scrollbar-track-piece {
	visibility: visible !important;
}
.scrollerThemed-19vinI.themeGhostHairlineChannels-2lQojW .scroller-fzNley::-webkit-scrollbar-thumb, .scrollerThemed-19vinI.themeGhost-10fio9 .scroller-fzNley::-webkit-scrollbar-thumb, .scrollerThemed-19vinI.themeDark-BdSAwu .scroller-fzNley::-webkit-scrollbar-thumb, .scrollerWrap-2uBjct .scroller-fzNley::-webkit-scrollbar-thumb, .scrollerThemed-19vinI.themeDark-BdSAwu .scroller-fzNley::-webkit-scrollbar-thumb {
    background-color: var(--main-color) !important;
}

/* Shadows */

.channel-members-wrap, .guilds-wrapper, .channels-wrap .scrollerWrap-2uBjct, .channels-wrap .flexChild-1KGW5q, .container-iksrDt, .container-3lnMWU, #friends .friends-header, .chat .title-wrap, .popout.popout-bottom-right.no-arrow.no-shadow, .private-channels .search-bar, .chat form .channel-text-area-default, .search-results-wrap {
    box-shadow: 0 2px 20px rgba(0,0,0,.4) !important;
}
.channels-3g2vYe .scrollerWrap-2uBjct, .channels-3g2vYe .flexChild-1KGW5q {
    box-shadow: 0 2px 20px rgba(0,0,0,.4);
}
