//META{"name":"Aqua","description":"Greenish aqua feel theme. <div class='themedescription'></div><br><a class='gitbutton' href='https://github.com/0mniscient/Discord-Themes/'target='_blank'>GITHUB</a><a class='docsbutton' href='https://betterdocs.net/themes.html'target='_blank'>MORE THEMES</a><a class='serverbutton' href='https://discord.gg/MpWmqQk'target='_blank'>SERVER</a><a class='donatebutton' href='https://paypal.me/Chaotiic' target='_blank'>DONATE PLS</a><br>","author":"Omniscient","version":"<span class='version'></span>"}*//

/* IMPORT CSS FROM GITHUB */
@import url("https://rawgit.com/0mniscient/Discord-Themes/master/css/Aqua.css");
/*
---------------------------------------------------------------------------------------------------------------------------------------------
TROUBLESHOOTING: IF YOU NEED ANY HELP GO TO HTTPS://BETTERDOCS.NET
---------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------
THIS THEME COMES AS IS. NO CUSTOMIZATION
---------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------
THIS THEME WAS MADE BY THE BD COMMUNITY I TAKE LITTLE CREDIT! STARTED OFF BY BEARDDESIGN & "FINISHED" BY ME
---------------------------------------------------------------------------------------------------------------------------------------------
*/
