//META{"name":"Colorize","description":"Colorize your Discord to your liking!","author":"Omniscient and maple","version":"1.00"}*//

@import url("https://rawgit.com/0mniscient/Discord-Themes/master/css/colorize.css");

:root {
	--main-color: #DB81B7; /*Change this HEX Color to whatever color you want*/
}
