//META{"name":"Dark Mode Rebirth","description":"A cozy modern dark theme this is how Discord DARK mode should be.","author":"Chaotiic","version":"4.19"}*//
/* Better Discord CSS Made By @Chaotiic */

________/\\\\\\\\\__/\\\________/\\\_____/\\\\\\\\\__________/\\\\\_______/\\\\\\\\\\\\\\\__/\\\\\\\\\\\__/\\\\\\\\\\\________/\\\\\\\\\_        
 _____/\\\////////__\/\\\_______\/\\\___/\\\\\\\\\\\\\______/\\\///\\\____\///////\\\/////__\/////\\\///__\/////\\\///______/\\\////////__       
  ___/\\\/___________\/\\\_______\/\\\__/\\\/////////\\\___/\\\/__\///\\\________\/\\\___________\/\\\_________\/\\\_______/\\\/___________      
   __/\\\_____________\/\\\\\\\\\\\\\\\_\/\\\_______\/\\\__/\\\______\//\\\_______\/\\\___________\/\\\_________\/\\\______/\\\_____________     
    _\/\\\_____________\/\\\/////////\\\_\/\\\\\\\\\\\\\\\_\/\\\_______\/\\\_______\/\\\___________\/\\\_________\/\\\_____\/\\\_____________    
     _\//\\\____________\/\\\_______\/\\\_\/\\\/////////\\\_\//\\\______/\\\________\/\\\___________\/\\\_________\/\\\_____\//\\\____________   
      __\///\\\__________\/\\\_______\/\\\_\/\\\_______\/\\\__\///\\\__/\\\__________\/\\\___________\/\\\_________\/\\\______\///\\\__________  
       ____\////\\\\\\\\\_\/\\\_______\/\\\_\/\\\_______\/\\\____\///\\\\\/___________\/\\\________/\\\\\\\\\\\__/\\\\\\\\\\\____\////\\\\\\\\\_ 
        _______\/////////__\///________\///__\///________\///_______\/////_____________\///________\///////////__\///////////________\/////////__
 
/*READ!! SOME ITEMS WILL BE THE DEFAULT BLUE COLOR BECAUSE THEY ARE IMAGES WHEN I HAVE TIME I WILL DARKEN THEM AND MATCH THEM WITH
THE THEME TILL THEN BE PATIENT AND THIS THEME IS STILL A WORK IN PROGRESS! SEE ANYTHING WEIRD OR WANT SOMETHING CHANGED?
CONTACT ME @CHAOTIIC IN THE BETTERDISCORD SERVER OR BETTERDISCORD+ SERVER*/

.chat .new-messages-bar {
background-color: rgba(0, 144, 137, 0.9);
}
.theme-dark .chat>.content .messages .message-group .comment .markup {
    color: #fff;
}
.guild-channels ul .channel-text:hover:not(.unread):before {
    border-left: 4px solid #e74c3c;
}
.guild-channels ul .channel-text.selected:before {
    border-left: 4px solid #e74c3c;
}
.guilds li.active .guild-inner, .guilds li:hover .guild-inner {
    background: #e74c3c;
}
.theme-dark .chat>.content :first-child .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: #e74c3c;
}
.guild-header ul a.red-highlight {
    color: #e74c3c;
}
.create-guild-container .create-or-join .form-inner {
    background-color: #282b30;
}
.create-guild-container .action {
    background: #31343A;
}
.create-guild-container .create-or-join .actions .or {
    background-image: none;
    color: #282B30;
}
.form .form-inner {
    background-color: #282B30;
}
.form header {
    color: #e74c3c;
}
.form .control-group input[type=email], .form .control-group input[type=password], .form .control-group input[type=text], .form .control-group textarea {
    background: #32353A;
    color: #90A0AA;
    border-bottom: 1px solid #232529;
	border-radius: 3px;
}
.form .control-group input[type=email]:focus, .form .control-group input[type=password]:focus, .form .control-group input[type=text]:focus, .form .control-group textarea:focus {
    border-bottom: 2px solid #e74c3c;
}
.region-select {
	background: #32353A;
}
.region-select .region-select-inner {
    background: #32353A;
    border: 1px solid #232529;
}
.region-select button {
    background-color: #32353A;
    border: 1px solid #232529;
    color: #e74c3c;
}
.region-select:hover .region-select-inner, .region-select:hover button {
    border-color: #e74c3c;
}
.region-select:hover button {
    background-color: #e74c3c;
}
.create-guild-container h5 {
    color: #e74c3c;
}
.avatar-uploader .avatar-uploader-inner {
    background-color: #e74c3c;
}
.form .form-actions {
    background-color: #282B30;
    border-top: 1px solid #232529;
}
.form .btn-default {
    background-color: #282B30;
    border-bottom: 2px solid #282B30;
	border-radius: 5px;
}
.form .btn-primary {
    background-color: #e74c3c;
}
.create-guild-container .action.create .action-header {
    color: #e74c3c;
}
.create-guild-container .action:hover.create .btn {
    background-color: #c33f31;
}
.form .btn-primary:hover {
    background-color: #c33f31;
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb {
    background-color: #e74c3c;
	border: 3px solid #2E3136;
}
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: #2E3136;
	border: 3px solid #2E3136;
}
.tab-bar.SIDE .tab-bar-item:before {
    border-left: 4px solid #e74c3c;
}
a:link {
    color: #e74c3c;
}
.user-settings-modal a {
    color: #e74c3c;
}
.user-settings-modal .settings-wrapper, .user-settings-modal .voice-settings {
    background: #2E3136;
}
.settings .settings-actions {
    background-color: #2E3136;
    border-top: 1px solid #e74c3c;
}
.checkbox .checkbox-inner+span {
    color: #fff
}
.highlight {
    color: #e74c3c;
}
.user-settings-modal-connections .user-settings-modal-accounts-list .connect-container .name {
    color: #fff;
}
.user-settings-modal-connections .user-settings-modal-connections-list .connection .connection-integrations.no-integrations {
    color: rgba(222, 222, 222, 0.59);
}
.user-settings-modal-connections .user-settings-modal-connections-list .connection .connection-integrations {
    border: 1px solid #e74c3c;
}
.user-settings-modal-connections .user-settings-modal-connections-list {
    box-shadow: 0 -1px #e74c3c;
}
.tab-bar.TOP .tab-bar-item.selected {
    border-bottom: 2px solid #e74c3c;
    color: #e74c3c;
}
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: #e74c3c;
    border-color: #e74c3c;
}
.radio .radio-inner span:after {
    background: #e74c3c;
}
.slider-bar-fill {
    background: #e74c3c;
}
.slider-handle {
    border: 1px solid #e74c3c;
}
.radio .radio-inner {
    background: #454950;
    border: 1px solid #e74c3c;
}
.tab-bar.TOP {
    border-bottom: 1px solid #e74c3c;
}
.Select-control {
    background: #2E3136;
    border: #e74c3c;
    border-color: #e74c3c #e74c3c #e74c3c;
}
.form .control-group .Select-control {
    border: 1px solid #e74c3c;
}
.form .control-group .Select-control:hover {
    border: 1px solid #e74c3c;
}
.form .control-group .is-focused:not(.is-open)>.Select-control {
    border: 1px solid #e74c3c;
}
.slider-bar {
    background: #393C42;
}
.slider-handle, .slider-handle span {
    background-color: #393C42;
}
.form .control-group .Select-control .Select-placeholder {
    color: #787A7B;
}
.tab-bar.SIDE {
	overflow-y: hidden;
    background-color: #25282B;
}
.create-guild-container .join-server .link-container input {
    border: 1px solid #e74c3c;
}
.create-guild-container .join-server .sample-link {
    color: #e74c3c;
}
.theme-dark .chat>.content .messages .message-group a {
    color: #e74c3c;
}
.need-help-modal .footer {
    background-color: #282b30;
    border-top: 1px solid #1D1F23;
}
.need-help-modal .header {
    background-color: #e74c3c;
}
.need-help-button:hover {
    border-color: #e74c3c;
    color: #e74c3c;
}
.need-help-button:hover .btn-help {
    color: #e74c3c;
}
.settings .settings-inner {
    background-color: #36393e;
}
.notification-settings-modal .mute-server .checkbox .label {
    color: #fff;
}
.notification-settings-modal .settings-section {
    color: #fff;
}
.channel-notification-settings .content label {
    color: #ABAAAA;
}
.scroller-wrap .scroller {
    overflow-y: scroll;
}
.channel-notification-settings {
	border-bottom: 1px solid #e74c3c;
}
.notification-settings-modal .notification-settings-modal-channel-settings-list {
    box-shadow: 0 -1px #e74c3c;
}
.chat .new-messages-bar button {
    background: #e74c3c;
}
.chat .new-messages-bar button:last-child {
    color: #fff;
}
.download-apps .platforms .platform.active .download-button,.change-log .changelog-fixed,.modal-new-user .steps-wrap .steps li.on,.modal-new-user .steps-wrap .steps li.on+.divider,.modal-new-user .steps-wrap .steps li.on:before,.chat .new-messages-bar:hover {
background-color:#e74c3c;
}
.radio-image .radio-inner span:after {
opacity:0;
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
filter:alpha(opacity=0);
content:'';
position:absolute;
width:100%;
height:100%;
border:2px solid #e74c3c;
border-radius:3px;
-webkit-transition:.3s ease;
transition:.3s ease;
left:-2px;
top:-2px;
}

.radio-image:hover span:after {
opacity:.5;
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
filter:alpha(opacity=50);
border-color:#e74c3c;
}
.guilds li.active .guild-inner,.guilds li:hover .guild-inner {
border-radius:15px;
background:#e74c3c;
}
.guild-channels ul .channel-voice-states li.speaking .avatar-small {
background-color:#e74c3c;
cursor:pointer;
border:2px solid #43b581;
box-shadow:inset 0 0 0 2px #2e3136;
}

#unsupported-browser li:hover {
-webkit-transform:scale(1.04);
transform:scale(1.04);
border-color:#e74c3c;
}

#unsupported-browser li:hover .browser {
background-position-y:100px;
}

#unsupported-browser li:hover .btn {
background-color:#e74c3c;
color:#fff;
border-color:#e74c3c;
}
.mentioned .highlight:hover {
color:#e74c3c;
text-decoration:underline;
}
.highlight:hover {
cursor:pointer;
color:#fff;
background-color:#e74c3c;
}
.tooltip.tooltip-left:after {
position:absolute;
left:100%;
top:50%;
border-left-color:#e74c3c;
margin-top:-5px;
}

.tooltip.tooltip-right:after {
position:absolute;
right:100%;
top:50%;
border-right-color:#e74c3c;
margin-top:-5px;
}
.tooltip {
position:absolute;
background-color:#e74c3c;
box-shadow:0 2px 4px 1px rgba(0,0,0,.1);
border-radius:3px;
font-weight:600;
font-size:12px;
color:#fff;
z-index:1002;
max-width:160px;
box-sizing:border-box;
word-wrap:break-word;
padding:5px 10px;
}
.tooltip.tooltip-bottom:after {
position:absolute;
bottom:100%;
left:50%;
border-bottom-color:#e74c3c;
margin-left:-5px;
}
.tooltip.tooltip-top:after {
position:absolute;
top:100%;
left:50%;
margin-left:-5px;
border-top-color:#e74c3c;
}
.region-select-modal {
	background: #36393e;
}
.region-select-modal .region-select-modal-header {
	color: #e74c3c;
}
.region-select-modal .region-select-modal-option {
	background-color: #2e3338;
	border: 2px solid #25292d;
}
.region-select-modal .region-select-modal-option:hover {
	border-color: #e74c3c;
}
.form .radio-group .radio {
	color: #fff;
}
.need-help-modal .header input[type=text] {
	box-shadow: 0 2px 1px #e74c3c;
}
.change-log {
	background: #282D2F;
}
.change-log .header {
	color: #B59999;
	border-bottom: 1px solid #4C4C4C;
}
.change-log ul li {
	color: #B59999;
}
.change-log .footer {
	border-top: 1px solid #4C4C4C;
	color: #B59999;
	background-color: #282D2F;
}
.callout-backdrop {
	background-color: rgb(27, 25, 25) !important;
}
.download-apps .platforms .platform {
	border: 2px solid #B59999;
}
.download-apps .footer {
	color: #B59999;
}
.download-apps .footer a {
	color: #D77373;
}
.download-apps .header {
	color: #8D7373;
}
.download-apps .platforms .platform.active {
	border-color: #D77373;
}
.user-settings-modal a:hover {
	color: #A24040;
}
.private-channels .channel.selected:before {
	border-left: 4px solid #e74c3c;
}
.private-channels .channel:hover:before {
	border-left: 4px solid #e74c3c;
}
.user-settings-modal .voice-settings .reset-voice-settings {
	color: #e74c3c;
}
.user-settings-modal .voice-settings .reset-voice-settings:hover {
	color: #A24040;
}
.modal-content .form-inner p {
	color: #E6E6E6;
}
.form .form-inner {
	background: #34383e;
}
.form .form-actions {
	border-top: 1px solid #414958;
}
.form .form-header {
	background: #353940;
	border-bottom: 1px solid #494C50;
}
.popout header {
	background-color: #e74c3c;
}
.popout section {
	background-color: hsl(218, 7%, 23%);
}
#voice-connection-popout hr {
	border: 1px solid #4C4C4C;
}
.small-popout-box {
	background: #282B30;
	border: 1px solid #24272B;
}
.option-popout .btn-item:hover {
	color: #BBBBBB;
}
.member-roles .member-role {
	background-color: #e74c3c;
	color: #ffffff;
	border:1px solid #e74c3c;
}
.user-popout .user-popout-options .btn {
	background-color: #e74c3c;
	border:1px solid #e74c3c;
}
.user-popout .user-popout-options .btn:hover {
	background-color: #B53D31;
}
.chat .welcome-message h1 {
	color: #e74c3c;
}
.channel-members .invite-btn {
	background-color: #e74c3c;
}
.channel-members .invite-btn:hover {
	background-color: #BB3B2E;
}
.instant-invite-popout hr {
	border: 1px solid #3A3030;
}
.instant-invite-popout a {
	color: #B59999;
}
.instant-invite-popout a:hover {
	color: #916969;
}
.clipboard-input-inner input::selection {
	background: #D77373;
}
.clipboard-input-inner button {
	border-left: 1px solid #424549;
	background-color: #282B30;
}
.clipboard-input-inner input {
	color: #8D7474;
	background: #424549;
}
.clipboard-input-inner {
	background: #1C1E22;
	border: 1px solid #2E3136;
}
.clipboard-input-inner button:first-of-type:before {
	background: linear-gradient(90deg,hsla(0,0%,100%,0),#313131);
}
::selection {
    color: #fff; 
    background: #D77373;
}
.theme-dark .chat .welcome-message a {
	color: #CF0000;
}
#settings-roles .roles li.selected {
	background: none;
}
#permissions ul li {
	color: #F4F4F4;
}
#permissions .permission-actions>div {
	background-color: #2E3136;
	border: 2px solid #2A2C31;
}
#permissions .permission-actions>div.PASSTHROUGH:hover {
	border: #51555F;
}
#settings-roles .roles header {
	border-bottom: 1px solid #2A2C31;
}
#settings-roles .roles {
	border-right: 1px solid #e74c3c;
}
.btn-help:hover {
	background: #e74c3c;
}
#permissions .permissions-helpdesk {
	color: #C46969;
}
#permissions .permissions-helpdesk:hover {
	color: #A24040;
}
#settings-roles .roles li.selected:before {
	background-color: #e74c3c;
}
#settings-roles .roles li:hover:before {
	background-color: #E8ACA5;
}
.instant-invites .instant-invites-header {
	border-bottom: 1px solid #e74c3c;
}
.instant-invites .instant-invite-buttons .btn {
	background:  #e74c3c;
}
.instant-invites .instant-invite-buttons .btn.btn-danger {
	border: 1px solid #AD392D;
	color: #fff
}
.instant-invites .instant-invite-buttons .btn.btn-danger:hover {
	background: #FF1700;
}
.instant-invites .instant-invites-list .instant-invite .member {
	color: #C3C3C3;
}
#permissions .permission-actions.disabled>div {
	
}
#permissions .permission-actions.disabled>div {
	border: #565963;
	background: #565963;
	position: relative;
}
.checkbox .checkbox-inner span {
	border: 2px solid #8E8E8E;
}
.form .control-group .help-text {
	color: #B6BBC1;
}
.avatar-uploader a {
	color: #C46969;
}
.avatar-uploader a:hover {
	color: #A24040;
}
.instant-invites .instant-invites-list .instant-invite .show-channel .channel {
	color: #B3B3B3;
}
.instant-invites .instant-invites-list .instant-invite+.instant-invite {
	border-top: 1px solid #e74c3c;
}
.form .control-groups.control-separator {
	border-top: 1px solid #e74c3c;
}
.guild-settings-modal-integrations .guild-settings-modal-integrations-header {
	color: #CCCCCC;
	border-bottom: 1px solid #2A2C31;
	box-shadow: none;
}
.guild-settings-modal-integrations .guild-settings-modal-integrations-body.no-integrations p {
	color: rgb(220, 220, 220);
}
.guild-settings-modal-integrations .guild-settings-modal-integrations-body.no-integrations p a {
	color: #F40000;
}
.guild-settings-modal-members .guild-settings-modal-list .member .member-username {
	color: #CECECE;
}
.guild-settings-modal-members .guild-settings-modal-members-header {
	border-bottom: 1px solid #e74c3c;
}
#autocomplete-popout .empty:hover {
	background-color: #2E3136;
}
#autocomplete-popout .empty h4 {
	color: #D77373;
}
#autocomplete-popout h3 {
	color: #ECECEC;
}
.popout.popout-bottom header:before {
	border-bottom-color: #e74c3c;
}
.guild-settings-modal .guild-settings-modal-search {
	border: 1px solid #2E3136;
}
.guild-settings-modal .guild-settings-modal-search:focus {
	border: 1px solid  #24272b;
}
.guild-settings-modal-members .guild-settings-modal-members-footer a {
	color: #C46969;
}
.guild-settings-modal-members .guild-settings-modal-members-footer a:hover {
	color: #A24040;
}
.guild-settings-modal-members .guild-settings-modal-members-footer {
	border-top: 1px solid #e74c3c;
}
#settings-roles .roles li:hover {
	background: none;
}
.form hr {
	border-bottom: 1px solid #e74c3c;
}
.user-popout .user-popout-options .btn.btn-server {
	color: #fff;
	background-color: #e74c3c;
	border-color: #e74c3c;
}
.user-popout .user-popout-options .btn.btn-server:hover {
	border-color: #71271F;
	background-color: #B53C30;
}
.member-roles .manipulate:hover {
	border-color: #71271F;
	background-color: #B53C30;
}
#user-profile-modal header {
	background-image: none;
	background-color: #e74c3c;
}
#user-profile-modal .scroller {
	background: #2E3136;
}
#user-profile-modal .friends .friend:hover {
	background: #26292D;
	color: #ADADAD;
}
.need-help-modal a:hover {
	color: #DC0000;
}
#user-profile-modal footer {
	background: #1e2124;
}
#user-profile-modal footer button {
	color: #e74c3c
}
#user-profile-modal footer button:hover {
	color: #CE6A60;
}
.theme-dark .chat>.content .messages .message-group .comment .markup .highlight:hover {
	background: rgba(215, 115, 115, 0.7);
	border: 1px solid rgba(215, 115, 115, 0.7);
	border-radius: 3px;
}
.theme-dark .chat>.content .messages .message-group:not(.has-divider) {
	background: #2E3136;
}
.message-group {
	border: 5px solid #36393E;
	border-radius: 10px;	
}
.message-group.has-divider {
	background: #2E3136;
	border-color: none;
	margin-left: 19px;
    margin-right: 5px;
	border: 5px solid #36393E
}
.theme-dark .chat>.content .messages .message-group .comment .markup .highlight {
	background-color: #2E3136;
}
.avatar-large {
	width: 33px;
	height: 33px;
	background-size: 33px 33px;
	left: 8px;
}
.channel-textarea {
	margin: 10px 0 30px;
}
.theme-dark .chat form {
	border-top: none;
}
.guilds li.active .guild-inner:before {
	background: #e74c3c;
}
.guilds li.unread .guild-inner:before {
	background: #845F5F;
}
.guild-channels ul .channel-text.unread:not(.selected):not(.channel-muted):before {
	background: #845F5F;
}
.theme-dark .hljs {
	border: 1px solid transparent;
	border-radius: 4px;
}
.chat .divider {
	background: #2E3136;
	border: 5px solid #36393E;
	border-radius: 10px;
	height: 30px;
	margin-left: 20px;
    margin-right: 5px;
}
.theme-dark .chat>.content .messages .divider:not(.red) div {
	background: transparent;
}
.theme-dark .chat>.content .messages .divider span {
	background: transparent;
}
.chat .divider>span {
	color: rgb(183, 184, 185);
}
