//META{"name":"Quiet_OUTDATED","description":"Dark and Quiet. Easy on the eyes. <div class='themedescription'></div><br><a class='gitbutton' href='https://github.com/0mniscient/Discord-Themes/'target='_blank'>GITHUB</a><a class='docsbutton' href='https://betterdocs.net/themes.html'target='_blank'>MORE THEMES</a><a class='serverbutton' href='https://discord.gg/MpWmqQk'target='_blank'>SERVER</a><a class='donatebutton' href='https://paypal.me/Chaotiic' target='_blank'>DONATE PLS</a><br>","author":"Omniscient","version":"<span class='version'></span>"}*//

/* IMPORT CSS FROM GITHUB */
@import url("https://raw.githubusercontent.com/VictorMart/Discord-Themes/1be2c772516f39db45b68fdcf62029c6f9ad826b/Themes/Quiet_2.theme.css");
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE DISCORDS THEME TO DARK THEME IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
===== CUSTOMIZABLE COLORS =====
*/
:root { 
 --main-color: #8d2036;
 --hover-color: #4c8700;
 }
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
TROUBLESHOOTING: IF YOU NEED ANY HELP GO TO HTTPS://BETTERDOCS.NET
---------------------------------------------------------------------------------------------------------------------------------------------
*/ 
