/* THIS IS NOT A THEME THIS IS AN ADD-ON FOR DISCORD REBORN. */

/* Add this to the bottom of Discord Reborn CSS file or put it in BetterDiscord custom CSS tab */

/* Hides Channels, Server Guilds and minimizes member list. Brings them back on hover. */

.guilds-wrapper{position:absolute;z-index:5;left:-80px;transition: left ease .5s;height:100%;background:transparent;border-right:solid transparent 50px;}
 .guilds-wrapper:hover {left: 0;}
 .channel-members{transform:translate(145px);z-index:2;transition:all 300ms ease;}
 .channel-members:hover{animation: member 300ms ease;transform:translate(0px);background: #000 !important;}
 .channel-members .member .member-activity,
 .channel-members .member .member-username-inner{opacity:0;transition:opacity 300ms ease, margin 100ms ease;}
 .channel-members .member .member-username-inner{margin-bottom: 6px;}
 .channel-members:hover .member .member-activity, .channel-members:hover .member .member-username-inner{opacity:1;}
 .header-toolbar button.active{display:none;}
 .channel-members h2{transform-origin:left;transform:scale(0.7);padding:0px 0px 0px 10px;transition: all 300ms ease;}
 .channel-members:hover h2{transform:scale(1);padding: 4px 58px;}
 .channel-members .avatar-small{transform:scale(1.2);}
 .channel-members:hover .avatar-small{transform:scale(1);}
 .chat.flex-vertical.flex-spacer>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical{margin-right:-145px;z-index:1}
 .chat.flex-vertical.flex-spacer.private>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical{margin-right:0px;z-index:1}
 .theme-dark .channel-members .member.popout-open, .theme-dark .channel-members .member:hover {background: -webkit-linear-gradient(left, rgb(9, 10, 10) 85%, rgba(46, 49, 54, 0)) !important;}
 .channel-members .member.popout-open .avatar-small, .channel-members .member:hover .avatar-small {transform: scale(1.2);}
 .chat .content .flex-spacer.flex-vertical:only-child .message-group .comment .markup,
 .chat .content .flex-spacer.flex-vertical:not(:only-child) .message-group .comment .markup{max-width: 80%;}
 .channels-wrap{position:absolute;z-index:5;left:-275px;transition: left ease .5s;height:100%;background:rgba(0, 0, 0, 0.6);border-right:solid transparent 50px;width: 178px;}
 .scroller-wrap.fade.dark {width: 218px !important;}
 .guild-header {width: 228px;}
 .guilds-wrapper:hover ~ .channels-wrap {left: 80px;width: 178px;}
 .channels-wrap:hover {left: 6px;width: 178px;}
 .guild-channels .channel a {opacity: 0.7}
 #voice-connection .btn-group {margin-right: -56px;}
